@import url(./modules/header.css);
@import url(./modules/card.css);
@import url(./modules/choose.css);
@import url(./modules/beache.css);
@import url(./modules/form.css);
@import url(./modules/footer.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    background-image: url(../images/groovepaper.png);
    scroll-behavior: smooth;

}

.container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}