.beach__page {
    background-image: url(../../images/bg-beache.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    margin-top: 299px;
}

.container {}

.beach__body {
    display: flex;
    align-items: center;
    padding-top: 245px;
    justify-content: center;
    gap: 137px;
    padding-left: 63px;
}

.beache__box {}

.beache__title {
    font-size: 60px;
    font-weight: 400;
    text-shadow: 0px 3px 7px #738397;
    color: #ffffff;
    max-width: 359px;
}

.beache__box-two {}

.beache__text-one {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 33px;
    max-width: 387px;
}

.beache__text-two {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 33px;
    max-width: 387px;
}

.beache__text-three {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 33px;
    max-width: 387px;
}

.beache__text-four {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}

@media (max-width: 1075px) {
    .beach__page {
        margin-top: 621px;
    }

    .beache__title {
        font-size: 40px;
    }

    .beache__text-one,
    .beache__text-two,
    .beache__text-three,
    .beache__text-four {
        font-size: 13px;
    }
}



@media (max-width: 840px) {
    .beach__page {
        margin-top: 370px;
        height: 100%;
    }

    .beache__text-one,
    .beache__text-two,
    .beache__text-three {
        padding-bottom: 13px;
    }

    .beach__body {
        padding-left: 0;
        gap: 63px;
        padding-top: 153px;
        padding-bottom: 63px;
    }
}

@media (max-width: 563px) {
    .beach__body {
        flex-direction: column;
        padding-top: 54px;
    }

    .beach__page {
        margin-top: 272px;
    }
}