.page__choose {
    margin-top: 50px;
}


.choose__body {
    position: relative;
    display: flex;
}

.choose__buttom {}

.choose__button {
    position: absolute;
    width: 281px;
    height: 281px;
    background-color: #fbd42c;
    border-radius: 50%;
    left: 36%;
    top: 35%;
    font-size: 36px;
    font-weight: 500;
    color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.choose__box-one {
    background-image: url(../../images/choose/03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    height: 720px;
    width: 500px;
    transition: all 0.3s ease-in-out;

}



.choose__box-two {
    background-image: url(../../images/choose/02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    height: 720px;
    width: 500px;
    transition: all 0.3s ease-in-out;
}


@media (max-width: 821px) {
    .choose__button {
        left: 33%;
    }
}


@media (max-width: 680px) {
    .choose__button {
        left: 26%;
    }
}

@media (max-width: 500px) {
    .choose__button {
        left: 20%;
    }
}

@media (max-width: 480px) {
    .choose__button {
        left: 28%;
        font-size: 26px;
        width: 200px;
        height: 200px;
        top: 42%;
    }
}

@media (max-width: 370px) {
    .choose__button {
        left: 71px;
    }
}

@media (max-width: 330px) {
    .choose__button {
        left: 79px;
        font-size: 16px;
        width: 140px;
        height: 140px;
        top: 45%;
    }
}


.square {}

.square-animation {
    animation: wipe-enter 2s 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 1000;
}

.square-animations {
    animation: wipe-enters 2s 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 1000;
}


@keyframes wipe-enter {
    0% {
        transform: none;
    }

    100% {
        transform: translate(350px, 150px);
    }
}


@keyframes wipe-enters {
    0% {
        transform: none;
    }

    100% {
        transform: translate(-350px, 150px);
    }
}

.square__imagess-fox {
    position: absolute;
    left: 970px;
}


.wrap {
    display: flex;
}

.stage {
    position: relative;
    height: 250px;
    margin-top: 252px;
}

.stage, .stage-footer {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.stage-footer {
    margin: 10px
}

.square__imagess {
    position: absolute;
    left: -314px;
}

/* .square__imagesss {
    animation: flight 3s 1;
}

@keyframes flight {
    0% {
        transform: none;
    }

    100% {
        transform: translateX(500px);
    }
} */